html{
    padding: 0%;
    margin: 0%;
    width: 100%;
    background: #b4afaf;
    text-align:center;  

}

h1{
  font-size:45px;
  font-family:Helvetica;
  background-color:#3a3b3c;
  color:white;
  border-radius: 10px;
  text-align: center;

}



img{
    width:80 px ;
    padding: 10px;
    border-style:solid;
    border-radius: 25px;
    float:left;
    margin-right:30px;

}

body{
  text-align:left;  
  line-height: 2;
  padding: 20px;
  margin: 10px 30px 10px 30px;
  border-radius: 25px;
  background-color: rgb(215, 193, 193);
}
div,p {
   text-align: center;
   text-decoration: solid;
   font-size: 100;
   border: #b3a1a1 ;

}
p{
    padding: 20px;

}
h3{
    font-style:bold;
    font-size: 15pxs ;
}

ul li{
  list-style-type: circle;
  margin: 10px 30px 10px 30px;
  text-align: justify;
  font-size:20px ;
  word-break: keep-all;
}
a{
  margin-left: 25px;
  margin-bottom: 10px;
}
#alan{
  font-size:20px;
  text-align: justify;
  
}
footer {
    padding: 5px;
    line-height: 1.5rem;
  }